* {
  box-sizing: border-box;
}

#container {
  width: 100%;
  margin-top: 300px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 5px;
  row-gap: 5px;

  width: 300px;
  height: 300px;
  margin: 100px auto 0;
}

#board div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 44px;
  font-weight: bold;
  cursor: pointer;
}

p {
  text-align: center;
}
